#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "dumbdo"
name = "DumbDo"
description.en = "Dumb ToDo List"
description.fr = "ToDo simple"

version = "2025.06.04~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://www.dumbware.io/"
code = "https://github.com/DumbWareio/DumbDo"
fund = "https://buymeacoffee.com/dumbware"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/dumbdo"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DumbWareio/DumbDo/archive/1eb8fd953b7ee4020d7b2ecca2edd3ac498e04ec.tar.gz"
    sha256 = "ac36bfcf14d2353aa0524435e74c75e9646d8c5a6b8743a9fd20ecf6af47bfac"
    autoupdate.upstream = "https://github.com/DumbWareio/DumbDo"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
